{{#each this}}
<li class="film-card" data-action="{{id}}">
    <div class="">
        <img class="film-card__img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" width="" data-id="{{id}}" />
    </div>

    <h2 class="film-card__title">{{title}} {{name}}</h2>
    <p class="film-card__text">
        <span>{{#each genres}} {{name}} {{/each}}</span> | <span>{{release_date}}</span>
        <span class="film-card__vote">{{vote_average}}</span>
    </p>
</li>
{{/each}}